*{
  box-sizing: border-box;
}
.app {
  height: 100vh;
  width: 100vw;
  transition: background-color 1s ease-in;
  overflow: hidden;
  
}


.app__header, 
.app__main {
  
  display: flex;
  width:100%;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  
}




/*  Search bar */

.app__header {
   background-color: #759DD6;
 
   flex-direction:row ;
  
 
}
.find-Weather {
   background-color: rgb(109, 106, 236);
   

}
/* Current weather */

.app__main {
   background-color:#9CCDF2;
   height: 100%;
}
.overcast{
  color: white;
  font-size: 25px;
  font-weight: bold;
}
.bold{
  font-weight: bold;
}
.temperature{
  font-size: 25px;
}
.main-image {
  width: 20%;
  height: auto;
}

.bottomRow {
  display: flex;
flex-direction: row;
}
.weatherChange{
  margin-right: 60px;
}
